@charset "UTF-8";
/*==========================================================
style.scss
・他のscssファイルの一括管理
==========================================================*/
/*
 * foundation
 */
/*breakpointの設定（一括管理）*/
/*fontの設定（一括管理）*/
/*書式設定（一括管理）*/
:root {
  font-size: 62.5%;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  min-width: 350px;
  width: 100%;
  font-family: 'Noto Sans JP', Arial;
  overflow-x: hidden;
  position: relative;
  background-color: #FAE9BD;
  color: #1d1d1d;
}

/*
 * layout
 */
/*===================================
ヘッダー部分のスタイリング
・l-headerクラス
===================================*/
.l-header {
  width: 100%;
  height: 60px;
  background-color: #F2D0A6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* l-headerクラスのスタイリング（タブレット） */
  /* l-headerクラスのスタイリング（PC） */
  /*
     *l-header内のh1タグのスタイリング
     */
}

@media (min-width: 750px) {
  .l-header {
    height: 100%;
    max-height: 120px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.l-header > h1 {
  margin: auto;
  padding-left: 60px;
  font-family: 'Oswald', sans-serif;
  font-weight: "400";
  font-size: 2.4rem;
  font-weight: normal;
  /*h1タグのスタイリング（タブレット）*/
  /*h1タグのスタイリング（PC）*/
}

@media (min-width: 64px) {
  .l-header > h1 {
    -webkit-transition: all 300ms 0s ease;
    transition: all 300ms 0s ease;
  }
}

@media (min-width: 750px) {
  .l-header > h1 {
    margin: 4rem auto 4rem 40px;
    padding-left: 0;
    -webkit-transition: all 600ms 0s ease;
    transition: all 600ms 0s ease;
    font-size: 3.125vw;
  }
}

/*===================================
フッター部分のスタイリング
・l-footerクラス
===================================*/
.l-footer {
  padding: 30px;
  font-family: 'Oswald', sans-serif;
  font-weight: "400";
  text-align: center;
  /* フッターh2タグ部分のスタイリング */
  /* フッターcopyright部分のスタイリング*/
}

.l-footer h2 {
  font-size: 2.4rem;
}

.l-footer .copyright small {
  font-size: 1.2rem;
}

/*
 *object
 */
/*===============================================
c-section-ttlsetのスタイリング
・各セクションのh2タグ
===============================================*/
.c-section-ttlset {
  margin-bottom: 30px;
  font-size: 3.0rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /*縦方向に中央寄せ*/
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 1;
  font-family: 'Oswald', sans-serif;
  font-weight: "400";
  /*c-section-ttlsetのスタイリング（タブレット）*/
  /*c-section-ttlsetのスタイリング（PC）*/
  /*
      *c-section-ttlset内のspanタグのスタイリング（ルビ部分）
      */
}

@media (min-width: 750px) {
  .c-section-ttlset {
    /*PC用にフォントを大きめに設定*/
    font-size: 6.5rem;
  }
}

.c-section-ttlset span {
  margin-left: 2.3rem;
  font-size: 1.4rem;
  font-weight: normal;
  font-family: 'Noto Sans JP';
}

/*============================================
c-cardクラスのスタイリング
・c-card--ttl-center:WORKの各アイテム
・c-card--bg:CASEの各アイテム
============================================*/
.c-card {
  /*============================================
      p-section--workクラス内
      c-card--ttl-centerクラスのスタイリング
    ============================================*/
  /*c-card--ttl-centerクラスのスタイリング終わり*/
  /*============================================
      p-section--caseクラス内
      c-card--bgクラスのスタイリング
    ============================================*/
  /*c-card--bgクラスのスタイリング終わり*/
}

.c-card--ttl-center {
  width: 100%;
  margin-bottom: 20px;
  /*figcaption*/
}

@media (min-width: 64px) {
  .c-card--ttl-center {
    margin-bottom: 0;
  }
}

.c-card--ttl-center > img {
  width: 100%;
  margin: 0;
}

.c-card--ttl-center figcaption {
  padding: 0 30px 40px;
  /*dl*/
}

.c-card--ttl-center figcaption .ttl {
  margin: -1.5rem 0 30px;
  font-size: 3.0rem;
  line-height: 1;
  font-family: 'Oswald', sans-serif;
  font-weight: "400";
}

.c-card--ttl-center figcaption dl {
  /*dd*/
}

.c-card--ttl-center figcaption dl dt {
  margin-bottom: 15px;
  font-size: 1.8rem;
  font-weight: bold;
}

.c-card--ttl-center figcaption dl dd {
  font-size: 1.6rem;
  font-weight: normal;
  line-height: 2.4;
  /*↓これ必要？列が汚く見えるけど*/
}

.c-card--ttl-center figcaption dl dd::first-line {
  line-height: 1;
}

@media (min-width: 750px) {
  .c-card--ttl-center figcaption dl dd {
    font-size: 1.4rem;
  }
}

.c-card--bg {
  position: relative;
}

.c-card--bg::before {
  content: "";
  width: 100%;
  height: 100%;
  /*画像を暗めに設定*/
  background: #000;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  /*figcaptionのz-indexが2なので1に設定*/
  z-index: 1;
  opacity: .6;
}

.c-card--bg img {
  min-height: 410px;
}

@media (min-width: 750px) {
  .c-card--bg img {
    height: inherit;
  }
}

.c-card--bg figcaption {
  width: calc( 100% - 30px);
  height: calc( 100% - 30px);
  color: #fff;
  position: absolute;
  top: 15px;
  left: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  /*--bg::beforeのz-indexが1なので2に設定（一番上に来る）*/
  z-index: 2;
}

.c-card--bg header h2 {
  margin-bottom: 15px;
  font-size: 2.0rem;
}

.c-card--bg header h2::after {
  content: "";
  width: 90px;
  height: 1px;
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 2px solid #fff;
  display: block;
}

.c-card--bg header time {
  font-size: 2.0rem;
  font-family: 'Oswald', sans-serif;
  font-weight: "400";
  font-weight: bold;
}

.c-card--bg p {
  font-size: 1.6rem;
  font-weight: normal;
}

/*===================================
c-innerクラスのスタイリング
・p-section--merit直下c-innerクラス
・p-section--case直下c-innerクラス
・p-section--contact直下c-innerクラス
===================================*/
/*PC上でのinnerセクションをスタイリング*/
@media (min-width: 750px) {
  .c-inner {
    width: calc( 82.29% - 60px);
    margin: auto;
  }
}

/*===================================
c-buttonクラスのスタイリング
・p-section--contact内form内のc-button--submitクラスのスタイリング（送信ボタン）
===================================*/
.c-button--submit {
  width: 225px;
  padding: 12px;
  background: #867A62;
  color: #fff;
  border: none;
  /*カーソルを合わせるとポインターになる設定*/
  cursor: pointer;
  /**/
  outline: none;
  /**/
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  font-size: 2.0rem;
  display: block;
}

/*===================================
p-gnaviクラスのスタイリング
===================================*/
.p-gnavi {
  /*
      *p-naviクラス内のlistクラスのスタイリング
      */
  /*listクラスのスタイリング終わり*/
  /* navタグのp-gnaviクラスのスタイリングは継続中 */
  /*============================================
    hambergerMenuが開いているとき
    ============================================*/
}

.p-gnavi .list {
  -webkit-transition: all 300ms 0s ease;
  transition: all 300ms 0s ease;
  width: 100vw;
  height: 100vh;
  padding: 70px 50px;
  position: absolute;
  left: 100%;
  top: 60px;
  background-color: rgba(217, 199, 151, 0.95);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  transition: all 300ms 0s ease;
  font-family: 'Oswald', sans-serif;
  font-weight: "400";
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /*リストの表示は一番上に設定*/
  z-index: 100;
  overflow-y: auto;
  /*listクラス（PCのとき）*/
  /*
          *listクラス内のliタグのスタイリング
          */
  /*liタグのスタイリング終わり*/
}

@media (min-width: 750px) {
  .p-gnavi .list {
    width: inherit;
    height: inherit;
    padding: inherit;
    position: static;
    background: inherit;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: inherit;
    -webkit-box-direction: inherit;
        -ms-flex-direction: inherit;
            flex-direction: inherit;
    -webkit-transition: inherit;
    transition: inherit;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    line-height: 2.0;
  }
}

.p-gnavi .list > li {
  width: 100px;
  margin: 0 auto 50px;
  font-size: 1.8rem;
  /*liタグ（PCのとき）*/
  /*
              *liタグ内のaタグのスタイリング
              */
  /*aタグのスタイリング終わり*/
  /*
              *最後のliタグのスタイリング
              */
  /*最後のliタグのスタイリング終わり*/
}

@media (min-width: 750px) {
  .p-gnavi .list > li {
    width: auto;
    margin: inherit;
    font-size: 1.2rem;
    text-align: left;
  }
}

.p-gnavi .list > li a {
  /*linkを踏んだ後*/
  /*linkにカーソルを合わせた時*/
  /* linkの下線を除去*/
  text-decoration: none;
  /* aタグ（PCのとき）*/
}

.p-gnavi .list > li a:link, .p-gnavi .list > li a:visited {
  color: #1d1d1d;
}

.p-gnavi .list > li a:hover, .p-gnavi .list > li a:active {
  color: #555;
}

@media (min-width: 750px) {
  .p-gnavi .list > li a {
    margin-right: 20px;
    font-weight: normal;
    white-space: nowrap;
  }
}

.p-gnavi .list > li:last-child {
  margin-bottom: 0;
  /*最後のliタグ内のaタグ（PCのとき）*/
}

@media (min-width: 750px) {
  .p-gnavi .list > li:last-child a {
    margin-right: 0;
  }
}

.p-gnavi.is-open {
  /*
          *p-naviクラス内のlistクラスのスタイリング
          */
}

.p-gnavi.is-open > .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  left: 0;
  /*listクラス（PCのとき）※スマホ時のみだからstatic流し*/
}

@media (min-width: 750px) {
  .p-gnavi.is-open > .list {
    position: static;
  }
}

/*============================================
p-gnavi内のp-hamburgerクラスのスタイリング
  ※ハンバーガーメニューのボタン部分
  ※スマホのみ
============================================*/
.p-hamburger {
  width: 60px;
  height: 60px;
  background-color: #E6D6AA;
  position: relative;
  border: 0;
  /*p-hamburgerクラス（PCのとき）※PCは無し*/
  /*
      * before :
      * after    :
      */
  /*before */
  /*after */
  /*
      *hamburgerクラス内のspanタグ（menuボタン）のスタイリング
      */
  /*============================================
    hamburgerクラスが開いているときのスタイリング
    ============================================*/
  /*hamburgerクラスが開いているとき終わり*/
}

@media (min-width: 750px) {
  .p-hamburger {
    display: none;
  }
}

.p-hamburger::before, .p-hamburger::after {
  content: "";
  width: 20px;
  height: 1px;
  background: #1D1D1D;
  position: absolute;
  left: calc( 50% - ( 20px / 2 ));
  display: block;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}

.p-hamburger::before {
  top: 22px;
}

.p-hamburger::after {
  top: 38px;
}

.p-hamburger > span {
  width: 20px;
  height: 1px;
  font-size: 0;
  background: -webkit-gradient(linear, left top, right top, from(#1D1D1D), to(#1D1D1D)) repeat-x #1D1D1D;
  background: linear-gradient(to right, #1D1D1D, #1D1D1D) repeat-x #1D1D1D;
  background-size: auto 1px;
  position: absolute;
  left: calc( 50% - ( 20px / 2 ));
  top: 50%;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}

.p-hamburger.is-open::before, .p-hamburger.is-open::after {
  width: 40px;
  left: calc( 50% - ( 40px / 2 ));
}

.p-hamburger.is-open::before {
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
  top: 28px;
}

.p-hamburger.is-open::after {
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
  top: 28px;
}

.p-hamburger.is-open > span {
  background: none;
}

/*============================================
bodyが開いているとき（hamburgerが閉じ）
============================================*/
body.is-open {
  position: fixed;
}

/*============================================
p-mainvisualのスタイリング
============================================*/
.p-mainvisual {
  width: 100%;
  /*header分マイナスに*/
  height: calc( 100vh - 60px);
  margin-bottom: 50px;
  background: #000;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
  /*p-mainvisualのスタイリング（タブレット）*/
  /*p-mainvisualのスタイリング（PC）*/
  /*
      *beforeで背景画像設置
      */
  /*
      *ttlsetでタイトルのスタイリング
      */
  /*継承の＆でttlsetピンポイントで調整*/
}

@media (min-width: 750px) {
  .p-mainvisual {
    height: calc( 100vh - 120px);
    margin-bottom: 120px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.p-mainvisual::before {
  /*親要素に対してCSSを整える*/
  content: "";
  width: 100%;
  height: 100%;
  /*解像度2倍に設定*/
  background-image: url(../img/mv/sp@2x.jpg);
  /*画像をリピートするため*/
  background-repeat: no-repeat;
  /*透過度を80％*/
  opacity: .8;
  /*親要素に対していっぱいに指定*/
  background-size: cover;
  /*トリミングした画像を中央に指定*/
  background-position: center;
  /*親要素がrelativeのため対象に*/
  position: absolute;
  top: 0;
  left: 0;
  /*z-indexをマイナスにしてタイトルが前に来るように設定*/
  z-index: -1;
  /*beforeで背景画像設置（タブレット）*/
  /*beforeで背景画像設置（PC）*/
}

@media (min-width: 64px) {
  .p-mainvisual::before {
    background-image: url(../img/mv/tab@2x.jpg);
    background-repeat: no-repeat;
  }
}

@media (min-width: 750px) {
  .p-mainvisual::before {
    background-image: url(../img/mv/pc@2x.jpg);
    background-repeat: no-repeat;
  }
}

.p-mainvisual__ttlset {
  margin-left: 15px;
  color: #fff;
  /*ttlsetでタイトルのスタイリング（タブレット）*/
  /*ttlsetでタイトルのスタイリング（PC）*/
  /*
          *ttlsetクラス内のh2タグのスタイリング
          */
  /*
          *ttlsetクラス内のpタグのスタイリング
          */
}

@media (min-width: 64px) {
  .p-mainvisual__ttlset {
    /*スマホより少し上の位置に設定*/
    margin-top: -200px;
    /*アニメーションしながら変化*/
    -webkit-transition: all 300ms 0s ease;
    transition: all 300ms 0s ease;
  }
}

@media (min-width: 750px) {
  .p-mainvisual__ttlset {
    margin-top: inherit;
    -webkit-transition: all 600ms 0s ease;
    transition: all 600ms 0s ease;
    /*サイズに応じて変化させる*/
    margin-left: -21.71875%;
  }
}

.p-mainvisual__ttlset h2 {
  font-size: 4.2rem;
  font-weight: bold;
  /*h2タグのスタイリング（タブレット）*/
  /*h2タグのスタイリング（PC）*/
}

@media (min-width: 750px) {
  .p-mainvisual__ttlset h2 {
    /*PCは*/
    font-size: 3.33333vw;
  }
}

.p-mainvisual__ttlset p {
  padding: 4px;
  font-size: 1.4rem;
}

@media (min-width: 750px) {
  .p-mainvisual__ttlset p {
    font-size: 0.9375vw;
  }
}

/*===============================================
p-sectionのスタイリング
===============================================*/
.p-section, .p-section--work, .p-section--case {
  padding: 0 30px 50px;
  /*===============================================
p-section__headerのスタイリング
（各セクションのheaderタイトル部分）
===============================================*/
  /*p-section__headerのスタイリング終わり*/
  /*===============================================
p-section__itemsのスタイリング
（各セクションのitemsコンテンツ部分）
===============================================*/
  /*===============================================
p-section--workのスタイリング
===============================================*/
  /*p-section--workのスタイリング終わり*/
  /*===============================================
p-section--meritのスタイリング
===============================================*/
  /*p-section--meritのスタイリング終わり*/
  /*===============================================
p-section--caseのスタイリング
===============================================*/
  /*p-section--caseのスタイリング終わり*/
  /*===============================================
p-section--contactのスタイリング
===============================================*/
  /*p-section--contactのスタイリング終わり*/
}

@media (min-width: 750px) {
  .p-section, .p-section--work, .p-section--case {
    padding: 0 60px 120px;
  }
}

.p-section__header {
  margin-bottom: 30px;
  /*
          *各セクションヘッダー画像のスタイリング
          */
  /*
          *各セクションヘッダー見出し説明部分のスタイリング
          */
}

@media (min-width: 750px) {
  .p-section__header {
    margin-bottom: 60px;
  }
}

.p-section__header img {
  margin-bottom: 30px;
}

.p-section__header dl dt {
  margin-bottom: 20px;
  font-size: 2.0rem;
  font-weight: bold;
}

.p-section__header dl dd {
  font-size: 1.6rem;
  line-height: 1.875;
}

.p-section__items {
  list-style: none;
}

@media (min-width: 64px) {
  .p-section__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.p-section--work {
  /*
          *p-section--work内のp-section__headerタイトル部分のスタイリング
          */
  /*p-section--work内のp-section__headerタイトル部分のスタイリング終わり*/
  /*
          *p-section--work内のp-section__itemsコンテンツ部分のスタイリング
          */
  /*p-section--work内のp-section__itemsコンテンツ部分のスタイリング終わり*/
}

.p-section--work .p-section__header {
  /*p-section__headerタイトル部分imgタグのスタイリング（WORK見出し画像部分）*/
  /*p-section__headerタイトル部分dlタグのスタイリング（WORK見出し説明部分）*/
}

@media (min-width: 64px) {
  .p-section--work .p-section__header {
    margin-bottom: 180px;
    position: relative;
  }
}

@media (min-width: 750px) {
  .p-section--work .p-section__header {
    margin-bottom: 60px;
  }
}

@media (min-width: 64px) {
  .p-section--work .p-section__header > img {
    width: 72.2%;
    top: 0;
    right: 0;
    position: absolute;
    z-index: -1;
  }
}

@media (min-width: 750px) {
  .p-section--work .p-section__header > img {
    width: 50%;
    right: -60px;
  }
}

@media (min-width: 64px) {
  .p-section--work .p-section__header > dl {
    width: 40.8%;
  }
}

.p-section--work .p-section__items {
  /*p-section__items内のitemクラスのスタイリング*/
}

@media (min-width: 750px) {
  .p-section--work .p-section__items {
    min-width: 753px;
    width: 55.625%;
  }
}

.p-section--work .p-section__items .item {
  background: #FFF9E8;
}

@media (min-width: 64px) {
  .p-section--work .p-section__items .item {
    width: calc( 33% - 15px);
  }
}

.p-section--merit {
  /*sectionごとの間隔*/
  margin-bottom: 50px;
  /*borderとsectionの間隔*/
  padding: 50px 30px;
  background: #867A62;
  /*PCはもう少しborderの間隔を広く設定*/
  /*
          *p-section--merit内のc-innerのスタイリング（border内の部分）
          */
  /*
         *c-inner内のc-section-ttlsetのスタイリング（border内タイトル部分）*/
  /*
         *c-inner内のlistクラスのスタイリング（border内リスト部分）
         */
  /*c-inner内のlistクラスのスタイリング終わり*/
}

@media (min-width: 750px) {
  .p-section--merit {
    padding: 60px;
  }
}

.p-section--merit .c-inner {
  padding: 30px;
  border: 4px solid #fff;
  color: #fff;
}

.p-section--merit .c-section-ttlset {
  margin-bottom: 40px;
}

@media (min-width: 750px) {
  .p-section--merit .c-section-ttlset {
    margin: auto auto 50px;
  }
}

.p-section--merit .list {
  margin: 0;
  padding: 0 10px;
  /*
              *listクラス内のliタグのスタイリング（各リスト部分）
              */
  /*listクラス内のliタグスタイリング終わり*/
}

@media (min-width: 750px) {
  .p-section--merit .list {
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.p-section--merit .list li {
  margin: 0 0 30px;
  padding: 0 0 0 9px;
  list-style-type: none;
  /*最後のlistは下の余白無しに設定*/
  /*liタグ内のdtタグbeforeのスタイリング（各リストアイコン部分）*/
  /*dtタグbeforeそれぞれのスタイリング（各アイコンの設定）*/
  /*liタグ内のdlタグのスタイリング（各リスト部分）*/
}

.p-section--merit .list li:last-child {
  margin-bottom: 0;
}

.p-section--merit .list li dt::before {
  content: "";
  margin-right: 13.3px;
  display: inline-block;
  background-size: cover;
  background-repeat: no-repeat;
}

.p-section--merit .list li:nth-child(1) dt::before {
  width: 14px;
  height: 17.73px;
  background-image: url(../img/merit/ico01.svg);
}

.p-section--merit .list li:nth-child(2) dt::before {
  width: 14px;
  height: 17.73px;
  margin-left: -3px;
  background-image: url(../img/merit/ico02.svg);
}

.p-section--merit .list li:nth-child(3) dt::before {
  width: 14px;
  height: 17.73px;
  margin-left: -5px;
  background-image: url(../img/merit/ico03.svg);
}

.p-section--merit .list li:nth-child(4) dt::before {
  width: 14px;
  height: 17.73px;
  margin-left: -5px;
  background-image: url(../img/merit/ico04.svg);
}

.p-section--merit .list li dl {
  /*liタグ内のdtタグのスタイリング（各リストのタイトル部分）*/
  /*liタグ内のddタグのスタイリング（各リストの説明部分）*/
}

.p-section--merit .list li dl dt {
  margin-bottom: 15px;
  font-size: 1.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.p-section--merit .list li dl dd {
  margin-left: 27px;
  font-size: 1.4rem;
  line-height: 1.714;
  white-space: wrap;
}

.p-section--case {
  /*p-sectionから引き継ぎ*/
  /*
          *p-section__itemsクラスのスタイリング（実績部分全体）
          */
  /*p-section__itemsクラスのスタイリング終わり*/
}

.p-section--case .p-section__items {
  /*
              *p-section__itemsクラス内のitemクラスのスタイリング（各実績部分）
              */
  /*itemクラスのスタイリング終わり*/
}

@media (min-width: 64px) {
  .p-section--case .p-section__items {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (min-width: 750px) {
  .p-section--case .p-section__items {
    width: 100%;
    margin: auto;
  }
}

.p-section--case .p-section__items .item {
  /*各item下部分の間隔*/
  margin-bottom: 20px;
  /*itemクラスのスタイリング（タブレットのとき）*/
}

@media (min-width: 64px) {
  .p-section--case .p-section__items .item {
    width: calc( 50% - 15px);
    margin-bottom: 0;
    margin-top: 30px;
  }
}

@media (min-width: 64px) {
  .p-section--case .p-section__items .item:nth-child(1), .p-section--case .p-section__items .item:nth-child(2) {
    margin-top: 0;
  }
}

.p-section--contact {
  /*p-section--contact外の余白設定*/
  margin-bottom: 50px;
  /*p-section--contact内の余白設定*/
  padding: 50px 30px;
  background: #FDF1D0;
}

@media (min-width: 750px) {
  .p-section--contact {
    padding: 120px 60px 120px;
  }
}

/*p-sectionのスタイリング終わり*/
/*============================================
p-contactのスタイリング
============================================*/
.p-contact {
  /*
      *p-contact内のpタグのスタイリング
      */
  /*
      *p-contact内のformタグのスタイリング
      */
}

.p-contact > p {
  margin-bottom: 30px;
  font-size: 1.6rem;
  line-height: 1.875;
}

.p-contact form {
  width: 100%;
  /*form内のtableスタイリング*/
  /*form内のtrスタイリング*/
  /*form内のtdスタイリング*/
  /*td部分のスタイリング終わり*/
  /*form内のc-button--submitクラスのスタイリング（送信ボタン）*/
}

.p-contact form table {
  width: 100%;
  margin-bottom: 40px;
}

.p-contact form tr {
  width: 100%;
}

.p-contact form td {
  padding: 2px 2px 30px;
  vertical-align: top;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /*各tdのスタイリングをnth-childで指定*/
  /*１つ目のtd（項目部分）*/
  /*２つ目のtd（記入部分）*/
  /*最後のtd（メッセージの記入部分）*/
  /*td内のlabelタグ（項目部分）*/
  /*td内のinput,textareaタグ（記入部分）*/
  /*td内のinputタグ（名前、メール記入部分）*/
  /*td内のtextareaタグ（メッセージ記入部分）*/
}

.p-contact form td:nth-child(1) {
  width: 80px;
}

.p-contact form td:nth-child(2) {
  width: 100%;
}

.p-contact form td:last-child {
  padding-bottom: 0;
}

.p-contact form td label {
  margin-top: -2px;
  font-size: 1.6rem;
  font-weight: bold;
  display: block;
  /*項目のフォントをspanでスタイリング*/
  font-family: 'Oswald', sans-serif;
  font-weight: "400";
}

.p-contact form td label span {
  font-size: 1.2rem;
}

.p-contact form td input,
.p-contact form td textarea {
  width: 100%;
  padding: 10px;
  font-size: 1.4rem;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.p-contact form td input {
  height: 45px;
}

.p-contact form td textarea {
  height: 120px;
}

.p-contact form .c-button--submit {
  /*送信ボタンを中央寄せにセット*/
  margin: auto;
}

/*===================================
u-marginクラスのスタイリング
・p-section--contact上のu-marginクラス
===================================*/
/*フッターに余計な余白が残らないよう0に設定*/
.u-margin--bottom0 {
  margin-bottom: 0;
}
/*# sourceMappingURL=style.css.map */